<!-- INIT TINYMCE-->
    <script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>
<!-- BODY -->

<h4 class="blog__title">Añadir un nuevo proyecto</h4>
<div class="main__blog"></div>
    <form action="/project/add" method="POST" class="blog__form" enctype = "multipart/form-data">
        <div class="form__content-left">

            <input type="text" name="title" class="form-group" id="blog-title" placeholder="Añadir el título">

            <textarea id="mytextarea" name="description"></textarea>
            
        </div>
        <div class="form__content-right">
            <div class="card card-form">
                <div class="card-body card-body-form">
                    <h4>Publicar</h4>
                    <p id="dataNow"></p>
                    <div class="body__form-button">
                    <button type="submit" class="btn btn-dark btn-form">Borrador</button>
                    <button type="submit" class="btn btn-dark btn-form">Publicar</button>
                    </div>
                </div>
            </div>
            <div class="card card-form">
                <div class="card-body card-body-form">
                    <h4>Imágenes</h4>
                     <label class="custom-file-upload btn btn-dark btn-form">
                        <input type="file" name="image" id="blog-img">
                        Select File
                    </label>
                </div>
            </div>
            <div class="card card-form">
                <div class="card-body card-body-form">
                    <h4>Categoria</h4>
                    
                    <input type="text" name="category" id="blog-category" placeholder="Añadir ID de Category" list="categories">
                    <datalist id="categories">
                        {{#each category}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </datalist>
                    
                </div>
            </div>
            <div class="card card-form">
                <div class="card-body card-body-form">
                    <h4>Link</h4>
                    <input type="text" name="link" id="blog-category" placeholder="Añadir ID de User">
                </div>
            </div>
        </div>
    </form>
</div>