<!-- INIT TINYMCE-->
    <script>
tinymce.init({
    selector: '#mytextarea',
    plugins: 'code codesample',
    toolbar: 'code codesample',
});
    </script>
<!-- BODY -->

<h4 class="blog__title">Añadir una nueva entrada</h4>
<div class="main__blog"></div>
    <form action="/blog/add" method="POST" class="blog__form">
        <div class="form__content-left">

            <input type="text" name="title" class="form-group" id="blog-title" placeholder="Añadir el título">

            <input type="text" name="description" class="form-group"  id="blog-description" placeholder="Añadir una descripción">

            <textarea id="mytextarea" name="field"></textarea>
        </div>
        <div class="form__content-right">
            <div class="card card-form">
                <div class="card-body card-body-form">
                    <h4>Publicar</h4>
                    <p id="dataNow"></p>
                    <div class="body__form-button">
                    <button type="submit" class="btn btn-dark btn-form">Publicar</button>
                    </div>
                </div>
            </div>
            <div class="card card-form">
                <div class="card-body card-body-form">
                    <h4>Imágenes</h4>
                    <input type="text" name="img" id="blog-img" placeholder="Link to image">
                </div>
            </div>
            <div class="card card-form">
                <div class="card-body card-body-form">
                    <h4>Categoria</h4>

                    <input type="text" name="category" id="blog-category" placeholder="Añadir ID de Category" list="categories">
                    <datalist id="categories">
                        {{#each category}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </datalist>
                </div>
            </div>
            <div class="card card-form">
                <div class="card-body card-body-form">
                    <h4>Usuario</h4>
                    <input type="text" name="user" id="blog-category" placeholder="Añadir ID de User" list="users">
                    <datalist id="users">
                        {{#each users}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </datalist>
                </div>
            </div>
        </div>
    </form>
</div>