<div class="nav-sec">
    <div class="nav-sec-header">
        <div class="nav-sec__header"><i class="fas fa-home"></i>
        <a href="#">Ver página</a></div>
         <div class="nav-sec__header"><i class="fas fa-plus"></i>
        <a href="/blog/add">Añadir entrada</a></div>
        
        
    </div>
    <div class="nav-sec-footer">
        <ul class="ul-sec">
            <li class="li-sec">
                <i class="fas fa-sign-out-alt"></i>
                <a href="/user/logout">Logout</a>
            </li>
        </ul>
    </div>
</div>