    <nav>
        <div class="nav-center">
            <div class="nav-logo">
                <h2>Dashboard</h2>

            </div>
            <ul class="nav-links">
                <div class="title-ul">
                    <a class="btn-down" data-id="0">Blog <i data-id="0" class="fas fa-chevron-down"></i></a>
                </div>
                <div class="container-sub">
                    <ul class="sub">
                        <li class="sub-item">
                            <i class="far fa-file"></i>
                            <a href="/blog/view">Todos</a>
                        </li>
                        <li>
                            <i class="fas fa-edit"></i>
                            <a href="/blog/add">Crear</a>
                        </li>
                    </ul>
                </div>
                <div class="title-ul">
                    <a class="btn-down" data-id="1">Proyectos <i data-id="1" class="fas fa-chevron-down"></i></a>
                </div>
                <div class="container-sub">
                    <ul class="sub">
                        <li class="sub-item">
                            <i class="fas fa-project-diagram"></i>
                            <a href="/project/view">Todos</a>
                        </li>
                        <li>
                            <i class="fas fa-edit"></i>
                            <a href="/project/add">Crear</a>
                        </li>
                    </ul>
                </div>
                <div class="title-ul">
                    <a class="btn-down" data-id="2">Category <i data-id="2" class="fas fa-chevron-down"></i></a>
                </div>
                <div class="container-sub">
                    <ul class="sub">
                        <li class="sub-item">
                            <i class="fas fa-th-large"></i>
                            <a href="/category/view">Todos</a>
                        </li>
                     </ul>
                </div>
                <div class="title-ul">
                    <a class="btn-down" data-id="3">User <i data-id="3" class="fas fa-chevron-down"></i></a>
                </div>
                <div class="container-sub">
                    <ul class="sub">
                        <li class="sub-item">
                            <i class="fas fa-user-alt"></i>
                            <a href="/user/view">Todos</a>
                        </li>
                        <li>
                            <i class="fas fa-user-edit"></i>
                            <a href="/user/register">Crear</a>
                        </li>
                    </ul>
                </div>
                <div class="title-ul">
                    <a class="btn-down" data-id="4">Mensaje <i data-id="4" class="fas fa-chevron-down"></i></a>
                </div>
                <div class="container-sub">
                    <ul class="sub">
                        <li class="sub-item">
                            <i class="fas fa-inbox"></i>
                            <a href="#">Todos</a>
                        </li>
                    </ul>
                </div>
            </ul>
            <ul class="nav-mob">
                <li class="item-mob">
                    <a href="#"><i class="fas fa-home"></i></a>
                </li>
                <li class="item-mob">
                    <a href="/blog/view"><i class="fas fa-file"></i></a>
                </li>
                 <li class="item-mob">
                    <a href="/project/view""><i class="fas fa-th-large btn-mobile"></i></a>
                </li>
                <li class="item-mob">
                    <a href="/category/view"><i class="fas fa-project-diagram"></i></a>
                </li>
                <li class="item-mob">
                    <a href="/user/view"><i class="fas fa-user"></i></a>
                </li>
                <li class="item-mob">
                   <a href="/user/logout"><i class="fas fa-sign-out-alt"></i></a>
                </li>
            </ul>
        </div>
        <div class="nav-end">
            <ul class="nav-links">
                <li>
                    <i class="fas fa-sign-out-alt"></i>
                    <a href="/user/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>